<!-- Page Wrap -->
<div class="page-wrap">
  <div id="home-slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-one">
          <div class="swiper-image" data-swiper-parallax-y="-20%">
            <div class="swiper-image-inner swiper-image-left swiper-image-one">
              <h1>
                <span class="emphasis">Welcome</span><br /><span
                  >to PANDA Shop.</span
                >
              </h1>
              <p>Kashmir Based Ecommerce Shop</p>
            </div>
          </div>
          <div class="swiper-image" data-swiper-parallax-y="35%">
            <div class="swiper-image-inner swiper-image-right swiper-image-two">
              <!-- <p class="paragraph">
                Fashion is a term used interchangeably to describe the creation
                of clothing, footwear, accessories, cosmetics, and jewellery of
                different cultural aesthetics and their mix and match into
                outfits that depict distinctive ways of dressing (styles and
                trends) as signifiers of social status, self-expression, and
                group belonging. As a multifaceted term, fashion describes an
                industry, styles, aesthetics, and trends.
              </p> -->
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-two">
          <div class="swiper-image" data-swiper-parallax-y="-20%">
            <div
              class="swiper-image-inner swiper-image-left swiper-image-three"
            >
              <h1>
                The <span class="emphasis">Drop</span>. <br /><span
                  >Of Eternal life.</span
                >
              </h1>
              <p>Chapter II, page VII</p>
            </div>
          </div>
          <div class="swiper-image" data-swiper-parallax-y="35%">
            <div
              class="swiper-image-inner swiper-image-right swiper-image-four"
            >
              <p class="paragraph">
                A thirsty Crow found a Pitcher with some water in it, but so
                little was there that, try as she might, she could not reach it
                with her beak, and it seemed as though she would die of thirst
                within sight of the remedy.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-three">
          <div class="swiper-image" data-swiper-parallax-y="-20%">
            <div class="swiper-image-inner swiper-image-left swiper-image-five">
              <h1>
                A <span class="emphasis">Sense</span>. <br /><span
                  >Of Things to Come.</span
                >
              </h1>
              <p>Chapter III, page XI</p>
            </div>
          </div>
          <div class="swiper-image" data-swiper-parallax-y="35%">
            <div class="swiper-image-inner swiper-image-right swiper-image-six">
              <p class="paragraph">
                Every man carries Two Bags about with him, one in front and one
                behind, and both are packed full of faults. The Bag in front
                contains his neighbours’ faults, the one behind his own. Hence
                it is that men do not see their own faults, but never fail to
                see those of others.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
